In [1]:
! pip install boto3 pymongo twitter --quiet

In [3]:
from pymongo import MongoClient

In [4]:
mongo_client = MongoClient('18.236.138.158', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [5]:
cursor = collection_reference.find()

In [6]:
next(cursor)

{'_id': ObjectId('5b562057cfd9de0efb61d3b5'),
 'created_at': 'Sat Jul 21 20:58:43 +0000 2018',
 'id': 1020775097898917888,
 'id_str': '1020775097898917888',
 'text': 'Can’t wait to go home and play video games already smh',
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 3096943027,
  'id_str': '3096943027',
  'name': 'mattygeee',
  'screen_name': 'Mattygeee1',
  'location': 'Los Angeles, CA',
  'url': None,
  'description': None,
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 286,
  'friends_count': 399,
  'listed_count': 4,
  'favourites_count': 7501,
  'statuses_count': 17775,
  'created_at': 'Thu Mar 19 01:14:05 +0000 2015',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_link_color': 'E81C4F',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/3096943027/1522005281',
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': {'id': '59612bd882018c51',
  'url': 'https://api.twitter.com/1.1/geo/id/59612bd882018c51.json',
  'place_type': 'city',
  'name': 'Santa Monica',
  'full_name': 'Santa Monica, CA',
  'country_code': 'US',
  'country': 'United States',
  'bounding_box': {'type': 'Polygon',
   'coordinates': [[[-118.517358, 33.995177],
     [-118.517358, 34.050199],
     [-118.443482, 34.050199],
     [-118.443482, 33.995177]]]},
  'attributes': {}},
 'contributors': None,
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [], 'urls': [], 'user_mentions': [], 'symbols': []},
 'favorited': False,
 'retweeted': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1532206723080'}

In [7]:
cursor = collection_reference.find()

In [8]:
cursor.count()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

2392

In [9]:
cursor_sampl = collection_reference.aggregate(
    [{'$sample': {'size': 20}}]
)

In [11]:
len(list(cursor_sampl))

20

In [12]:
next(cursor_sampl)

StopIteration:

In [13]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [14]:
tw = next(cursor_sampl)

In [15]:
tw.keys()

dict_keys(['_id', 'created_at', 'id', 'id_str', 'text', 'display_text_range', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'])

In [16]:
list(tw.values())[:5]

[ObjectId('5b56a15c39cb6400a37f6ff7'),
 'Tue Jul 24 02:16:22 +0000 2018',
 1021579814405197824,
 '1021579814405197824',
 '@blueauthority Ojalá.']

In [17]:
import pandas as pd

In [18]:
cursor = collection_reference.aggregate([{'$sample': {'size': 5}}])

tw_sample_df = pd.DataFrame(list(cursor))

In [19]:
tw_sample_df.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_entities             object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
quoted_status                 object
quoted_status_id             float64
quoted_status_id_str          object
quoted_status_permalink       object
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
dtype: object

In [20]:
tw_sample_df.select_dtypes([int])

,favorite_count,id,quote_count,reply_count,retweet_count
0,0,1022141014444666880,0,0,0
1,0,1021593175167647750,0,0,0
2,0,1022139682828607488,0,0,0
3,0,1022139766815436802,0,0,0
4,0,1021590064101388289,0,0,0

In [21]:
tw_sample_df.select_dtypes([float])

   in_reply_to_status_id  in_reply_to_user_id  quoted_status_id
0                    NaN                  NaN      1.021929e+18
1           1.021575e+18          419320475.0               NaN
2                    NaN                  NaN      1.021878e+18
3                    NaN                  NaN      1.022036e+18
4           1.021590e+18          548921314.0               NaN

In [22]:
tw_sample_df.select_dtypes(['object'])

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_entities,filter_level,geo,id_str,...,lang,place,possibly_sensitive,quoted_status,quoted_status_id_str,quoted_status_permalink,source,text,timestamp_ms,user
0,5b5897c43aed5a001a18e847,None,None,Wed Jul 25 15:26:22 +0000 2018,"[0, 10]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,low,None,1022141014444666880,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,{'created_at': 'Wed Jul 25 01:23:52 +0000 2018...,1021928989332406272,"{'url': 'https://t.co/zgjIDLsci1', 'expanded':...","<a href=""http://twitter.com/download/iphone"" r...",Please do. https://t.co/zgjIDLsci1,1532532382962,"{'id': 884459650573193216, 'id_str': '88445965..."
1,5b56aa1c1a6d22025b8c01cf,None,None,Tue Jul 24 03:09:27 +0000 2018,"[36, 40]","{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 1021593129474908160, 'id_str...",low,None,1021593175167647750,...,und,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,NaN,NaN,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",@KakiMiller1 @gaagee0406 @jwheels74 Yup! https...,1532401767900,"{'id': 756026497438146561, 'id_str': '75602649..."
2,5b5896613aed5a001a18e809,None,None,Wed Jul 25 15:21:05 +0000 2018,"[0, 75]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,low,None,1022139682828607488,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,{'created_at': 'Tue Jul 24 22:01:33 +0000 2018...,1021878074407837698,"{'url': 'https://t.co/ZYuUyfGk9X', 'expanded':...","<a href=""http://twitter.com/download/android"" ...",Well damn BRAVO to @maitlis made ol Spicey sto...,1532532065480,"{'id': 21829266, 'id_str': '21829266', 'name':..."
3,5b5896aa3aed5a001a18e81c,None,None,Wed Jul 25 15:21:25 +0000 2018,"[0, 35]","{'hashtags': [{'text': 'JoshuaTree', 'indices'...",NaN,low,None,1022139766815436802,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,{'created_at': 'Wed Jul 25 08:29:07 +0000 2018...,1022036008832061441,"{'url': 'https://t.co/AhHpAIcP8z', 'expanded':...","<a href=""http://twitter.com/download/iphone"" r...",🙏 come to #JoshuaTree in September! https://t....,1532532085504,"{'id': 32965560, 'id_str': '32965560', 'name':..."
4,5b56a90b1a6d22025b8bfcf3,None,None,Tue Jul 24 02:57:06 +0000 2018,"[16, 33]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,1021590064101388289,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@RHeathervaughn The good hate. ✌️,1532401026164,"{'id': 34144838, 'id_str': '34144838', 'name':..."

In [23]:
tw_sample_df['created_at'] = pd.to_datetime(tw_sample_df['created_at'])

In [24]:
tw_sample_df.created_at

0   2018-07-25 15:26:22
1   2018-07-24 03:09:27
2   2018-07-25 15:21:05
3   2018-07-25 15:21:25
4   2018-07-24 02:57:06
Name: created_at, dtype: datetime64[ns]

## Tweets Containing Geo Information

In [25]:
contain_geo_search = collection_reference.find({'geo' : { '$ne' : None}})
contain_geo_search

In [29]:
collection_reference.count_documents({'geo' : { '$ne' : None}})

255

## Distinct Users

#### TRY THIS

In [31]:
len(collection_reference.distinct('user'))

2147